In [1]:
import pandas as pd
import numpy as np
import pickle
from faker import Faker

# Initialize Faker
fake = Faker()

admission_types = [
    'URGENT', 'ELECTIVE', 'EW EMER.', 'DIRECT EMER.', 'EU OBSERVATION',
    'OBSERVATION ADMIT', 'DIRECT OBSERVATION',
    'AMBULATORY OBSERVATION', 'SURGICAL SAME DAY ADMISSION'
]
admission_locations = [
    'TRANSFER FROM HOSPITAL', 'TRANSFER FROM SKILLED NURSING FACILITY',
    'INTERNAL TRANSFER TO OR FROM PSYCH', 'PHYSICIAN REFERRAL',
    'EMERGENCY ROOM', 'PACU', 'PROCEDURE SITE',
    'WALK-IN/SELF REFERRAL', 'INFORMATION NOT AVAILABLE',
    'CLINIC REFERRAL'
]
insurance_types = [
    'Medicaid', 'Medicare', 'Other'
]
languages = [
    'ENGLISH', '?'
]
marital_statuses = [
    'SINGLE', 'MARRIED', 'DIVORCED', 'WIDOWED'
]
races = [
    'BLACK/CAPE VERDEAN', 'HISPANIC/LATINO - PUERTO RICAN', 'WHITE',
    'UNKNOWN', 'OTHER', 'BLACK/AFRICAN AMERICAN',
    'HISPANIC/LATINO - SALVADORAN', 'UNABLE TO OBTAIN',
    'WHITE - OTHER EUROPEAN', 'PORTUGUESE', 'HISPANIC/LATINO - CUBAN',
    'PATIENT DECLINED TO ANSWER', 'WHITE - BRAZILIAN',
    'HISPANIC OR LATINO'
]

drugs = [
    'Midodrine', 'Multivitamins W/minerals', 'Sodium Chloride',
    'Nephrocaps', 'Nicotine Polacrilex', 'OLANZapine', 'Ondansetron',
    'OxyCODONE (Immediate Release)'
]

diagnoses_types = [
    'Urinary tract infection, site not specified',
    'Acute respiratory failure',
    'Asthma, unspecified type, unspecified',
    'Solitary pulmonary nodule',
    'Streptococcus infection in conditions classified elsewhere and of unspecified site, streptococcus, group D [Enterococcus]',
    'Dysphagia, oropharyngeal phase', 'Esophageal reflux', 'Hypoxemia',
    'Methicillin resistant pneumonia due to Staphylococcus aureus',
    'Attention deficit disorder with hyperactivity'
]

def generate_patients(n):
    patients = []
    for i in range(n):
        gender = np.random.choice(['M', 'F'])
        patients.append({
            'patient_id': i,
            'name': fake.name_male() if gender == "M" else fake.name_female(),
            'age': np.random.randint(1, 90),
            'gender': gender,
            'insurance': np.random.choice(insurance_types),
            'language': np.random.choice(languages),
            'maritalStatus': np.random.choice(marital_statuses),
            'race': np.random.choice(races),
        })
    return pd.DataFrame(patients)

def generate_staff(n):
    staff = []
    for i in range(n):
        staff.append({
            'staff_id': i,
            'name': fake.name(),
            'role': np.random.choice(['Physician', 'Nurse', 'Admin']),
            'shift_start': fake.time(),
            'shift_end': fake.time()
        })
    return pd.DataFrame(staff)

def generate_admissions(patients:pd.DataFrame):
    admissions = []
    for i in range(len(patients)):
        admissions.append({
            'adm_id': i,
            'patient_id': patients.iloc[i].patient_id,
            'admit_time': fake.date_time(),
            'discharge_time': None,
            'type': np.random.choice(admission_types),
            'location': np.random.choice(admission_locations),
            
        })
    return pd.DataFrame(admissions)

def generate_omr(admissions):
    table = []
    for i in range(len(admissions)):
        omr = {
            'omr_id': i,
            'adm_id': admissions.iloc[i].adm_id,
            'weight': np.random.randint(60, 120),
            ##'height': np.random.randint(150, 220)/ 10.0, #not used in modeling
            'bp_systolic': np.random.randint(80, 220),
            'bp_diastolic': np.random.randint(60, 120),
        }
        table.append(omr)
    return pd.DataFrame(table)

def generate_prescriptions(admissions):
    prescriptions = []
    for i in range(len(admissions)):
        prescriptions.append({
            'prescription_id': i,
            'adm_id': admissions.iloc[i].adm_id,
            'drug': np.random.choice(drugs),
        })
    return pd.DataFrame(prescriptions)

def generate_diagnoses(admissions:pd.DataFrame):
    diag = []
    for i in range(len(admissions)):
        diag.append({
            'diagnosis_id': i,
            'adm_id': admissions.iloc[i].adm_id,
            'diagnosis': np.random.choice(diagnoses_types),
        })
    return pd.DataFrame(diag)

def generate_rooms(n):
    rooms = []
    beds = []
    bed_taken = 0
    room_id = 0
    bed_id = 0
    for i in range(n):
        if i % 2 == 0:#create new room
            rooms.append({
                'room_id': room_id,
                'capacity': 1,
            })
            beds.append({
                "bed_id": bed_id,
                "room": room_id,
                "adm_id": None
            })
            room_id += 1
        else:
            room = np.random.choice(rooms)#add bed to existing room
            room["capacity"] += 1
            beds.append({
                "bed_id": bed_id,
                "room": room["room_id"],
                "adm_id": None
            })
        bed_id += 1

    return pd.DataFrame(rooms), pd.DataFrame(beds)

def assign_beds(admissions, beds):
    for i in range(len(admissions)):
        adm = admissions.iloc[i].adm_id
        bed = beds[beds.adm_id.isna()].sample(1).iloc[0,0]  #choose random empty bed
        beds.loc[bed, "adm_id"] = adm.astype(int)
        print(bed)

In [2]:
staff = generate_staff(10)
patients = generate_patients(10)
admissions = generate_admissions(patients)
admissions.discharge_time = pd.to_datetime(admissions.discharge_time)
omr = generate_omr(admissions)
prescriptions = generate_prescriptions(admissions)
diagnoses = generate_diagnoses(admissions)
rooms, beds = generate_rooms(20)
assign_beds(admissions, beds)

16
10
12
2
18
3
0
5
6
14

In [3]:
staff.head()

   staff_id           name       role shift_start shift_end
0         0     Brenda Lee      Nurse    00:00:49  08:52:14
1         1   Joshua Green  Physician    10:28:46  02:17:18
2         2    Angela Bell      Nurse    15:00:52  23:14:40
3         3  Douglas Novak  Physician    00:17:50  19:19:27
4         4    Mark Martin      Nurse    09:07:41  20:20:08

In [4]:
patients.head()

,patient_id,name,age,gender,insurance,language,maritalStatus,race
0,0,Philip Moore,13,M,Medicaid,ENGLISH,DIVORCED,PATIENT DECLINED TO ANSWER
1,1,Richard Williams,88,M,Medicare,ENGLISH,SINGLE,OTHER
2,2,Kevin Lopez,24,M,Medicare,?,SINGLE,BLACK/CAPE VERDEAN
3,3,Douglas Lee,64,M,Other,?,WIDOWED,PORTUGUESE
4,4,Gregory Jones,25,M,Medicare,ENGLISH,MARRIED,WHITE - BRAZILIAN

In [5]:
admissions

,adm_id,patient_id,admit_time,discharge_time,type,location
0,0,0,1990-02-03 18:49:26.499937,NaT,SURGICAL SAME DAY ADMISSION,EMERGENCY ROOM
1,1,1,2018-01-31 22:23:37.206661,NaT,DIRECT OBSERVATION,INFORMATION NOT AVAILABLE
2,2,2,1993-09-26 20:48:20.525501,NaT,EU OBSERVATION,PROCEDURE SITE
3,3,3,2004-09-02 09:09:06.240751,NaT,URGENT,TRANSFER FROM HOSPITAL
4,4,4,1972-11-04 08:22:07.010878,NaT,ELECTIVE,PACU
5,5,5,2006-12-27 09:54:31.721791,NaT,DIRECT OBSERVATION,EMERGENCY ROOM
6,6,6,1997-08-06 16:33:39.921847,NaT,URGENT,CLINIC REFERRAL
7,7,7,1999-12-31 04:10:59.747071,NaT,EU OBSERVATION,INTERNAL TRANSFER TO OR FROM PSYCH
8,8,8,1997-02-05 07:58:44.590167,NaT,DIRECT EMER.,PACU
9,9,9,1998-12-07 17:59:20.457434,NaT,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL

In [6]:
admissions.iloc[0,0]

0

In [7]:
omr.head()

   omr_id  adm_id  weight  bp_systolic  bp_diastolic
0       0       0      90          212           101
1       1       1      97          208            89
2       2       2     108           91           113
3       3       3      75          118            95
4       4       4      74          176           115

In [8]:
prescriptions.head()

   prescription_id  adm_id                           drug
0                0       0                      Midodrine
1                1       1                     OLANZapine
2                2       2                     Nephrocaps
3                3       3  OxyCODONE (Immediate Release)
4                4       4                      Midodrine

In [9]:
diagnoses.head()

   diagnosis_id  adm_id                                          diagnosis
0             0       0                     Dysphagia, oropharyngeal phase
1             1       1                     Dysphagia, oropharyngeal phase
2             2       2  Methicillin resistant pneumonia due to Staphyl...
3             3       3              Asthma, unspecified type, unspecified
4             4       4                          Solitary pulmonary nodule

In [10]:
rooms

   room_id  capacity
0        0         3
1        1         2
2        2         3
3        3         3
4        4         2
5        5         1
6        6         2
7        7         1
8        8         2
9        9         1

In [11]:
beds

    bed_id  room adm_id
0        0     0      6
1        1     0   None
2        2     1      3
3        3     0      5
4        4     2   None
5        5     1      7
6        6     3      8
7        7     2   None
8        8     4   None
9        9     3   None
10      10     5      1
11      11     4   None
12      12     6      2
13      13     6   None
14      14     7      9
15      15     3   None
16      16     8      0
17      17     8   None
18      18     9      4
19      19     2   None

In [12]:
with open('app/data/staff.csv', 'w') as f:
    staff.to_csv(f, index=False)
with open('app/data/patients.csv', 'w') as f:
    patients.to_csv(f, index=False)
with open('app/data/admissions.csv', 'w') as f:
    admissions.to_csv(f, index=False)
with open('app/data/omr.csv', 'w') as f:
    omr.to_csv(f, index=False)
with open('app/data/prescriptions.csv', 'w') as f:
    prescriptions.to_csv(f, index=False)
with open("app/data/diagnoses.csv", "w") as f:
    diagnoses.to_csv(f, index=False)
with open("app/data/rooms.csv", "w") as f:
    rooms.to_csv(f, index=False)
with open("app/data/beds.csv", "w") as f:
    beds.to_csv(f, index=False)

In [13]:
with open("app/data/admission_types.pkl", "wb") as f:
    pickle.dump(admission_types, f)
with open("app/data/admission_locations.pkl", "wb") as f:
    pickle.dump(admission_locations, f)
with open("app/data/insurance_types.pkl", "wb") as f:
    pickle.dump(insurance_types, f)
with open("app/data/languages.pkl", "wb") as f:
    pickle.dump(languages, f)
with open("app/data/marital_statuses.pkl", "wb") as f:
    pickle.dump(marital_statuses, f)
with open("app/data/races.pkl", "wb") as f:
    pickle.dump(races, f)
with open("app/data/drugs.pkl", "wb") as f:
    pickle.dump(drugs, f)
with open("app/data/diagnoses_types.pkl", "wb") as f:
    pickle.dump(diagnoses_types, f)